* {
    margin: 0 auto;
    font-size: 20px;
    color: #000;
    padding: 1px;
    font-family: 'Abhaya Libre', sans-serif, cursive;
}

.welcome-banner {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
}

ul {
    list-style-type: none;
}

.welcome-banner div {
    padding: 15% 0 0 0;
}

.welcome-banner img {
    margin: -10px 0 0 -10px;
    height: 100vh;
    width: 50%;
    border-radius: 50%;
}

h1 {
    font-size: 2.5rem;
    margin: 0 auto;
    padding: 50px 0 200px 0;
    color: #000;
    text-transform: uppercase;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    background-color: #ffffff;
    justify-content: center;
}

.project-thumbnails {
    width: 400px;
    height: auto;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin: 0 50px;
}

.portfolio-container {
    max-width: 300px;
    margin: 100px;
}

.portfolio-container img {
    padding: 20px;
}
.topnav {
    height: 10vh;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav-right {
    float: right;
}

.my-contacts {
    width : 100%;
    height: 70vh;
    border : 2px solid black;
    display : flex;
    justify-content : space-between;
}
.icon-container {
    margin: 12%;
    align-content: center;
}

.my-contacts i {
    font-family: 'FontAwesome';
    src: url("https://fontawesome.com/v5.15/icons/linkedin?style=brands");

}

a {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .welcome-banner {
        height: auto;
    }
}


